
div.box {
  background: #253F5E;
  height: 200px;
  width: 315px;
  padding: 16px 24px;
  border-radius: 8px;
  margin-right: 40px;

}

.box h1 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.box p {
  color: #28C7FA;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-bottom: 25px;
}

.box button {
  background: #FF304F;
  color: #FFF;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;

}